<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>About | <%=title %></title>
</head>    
<body>
    <h1>About</h1>
    <nav>
        <a href="/">HomePage</a>
        <a href="/about">About</a>
    </nav>
    <h2>Welcome to my website!</h2>
</body>
</html>